html {
  font-family: "Rubik", sans-serif;
  color: #444;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 52px;
  margin-bottom: 32px;
}
p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 48px;
}
.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}
h2 {
  font-size: 44px;
  margin-bottom: 48px;
}
section {
}
