/* FLOATS */

/* #author-img {
  float: left;
  margin-bottom: 20px;
} */
/* #author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
} */

/* h1 {
  float: left;
} */

nav {
  float: right;
}
/* .clear {*/
/* clear: both; */
/* used to prevent it from floating around that fuckin el
used in other eleents not the floated element */
/* }  */
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

/* article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
}  */
