/* INLINE INTERNAL AND EXTERNAL CSS */
h1 {
  color: blue;
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  font-family: sans-serif;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

h3 {
  font-size: 20px;
  font-family: sans-serif;
}

h4 {
  font-size: 20px;
}

li {
  font-family: sans-serif;
  font: size 10px;
}

footer p {
  font-style: italic;
}

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-weight: bold;
  font-size: 18px;
}

.related {
  list-style: none;
}

/* working with colors */
h2,
h3 {
  color: grey;
}

aside {
  border-color: aqua;
  border-top: 2px solid aqua;
  border-bottom: 2px solid aqua;
}

/* pseudo class */
.first_li {
  font-weight: bold;
}

/* BETTER WAY  */
li:first-child {
  font-weight: bold;
}
article p {
  color: black;
}

/* styling hyperlinks */
a:hover {
  color: greenyellow;
}
a:active {
  color: greenyellow;
}
a:link {
  color: greenyellow;
}
a:visited {
  color: greenyellow;
}
