* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* if we want body to cover all the height of our html page */
  height: 100vh;
  font-family: sans-serif;
  color: grey;
  font-size: 24px;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}
nav {
  background-color: grey;
  grid-row: 1/-1;
}
menu {
  background-color: skyblue;
  color: white;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
}
aside {
  background-color: aliceblue;
}
nav,
aside,
section,
main {
  padding-top: 24px;
}
button {
  font-size: 16px;
  background-color: blue;
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 12px;
  font-weight: bold;
  display: inline-block;
}
button:last-child {
  background-color: palevioletred;
  /*TRICK :  to move this element to atmost right corner */
  margin-left: auto;
}
section {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* elements that doesnt fir allow it to scroll or hide it or any other operation */
  overflow: scroll;
}
.email {
  background-color: lightgrey;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* imppimppp -> for scrolling*/
  /* need to strop shrinking coz its flex nature to shrink elements to fit all */
  flex-shrink: 0;
}
